<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="jsonConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp />
                <pattern>
                    <pattern>
                        {
                        "level": "%level",
                        "logger": "%logger",
                        "message": "%message",
                        "thread": "%thread",
                        "stacktrace": "%ex{short}",
                        "mdc": "%mdc",
                        "context": "%contextName",
                        "service_name": "DEMO_APPLICATION"
                        }
                    </pattern>
                </pattern>
            </providers>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="jsonConsoleAppender" />
    </root>

</configuration>